*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0,2,4);
    background: linear-gradient(90deg, rgba(0,2,4,1) 6%, rgba(30,51,29,1) 49%, rgba(0,2,4,1) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    border-bottom: 1px solid white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.top-logo {
    align-self: flex-start;
    margin: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Orbitron';
    color: rgb(123,163,118);
    background: none;
    border: none;  
}
.top-logo:hover {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
}
span {
    color: white;
}

.navi {
    display: flex;
    flex-wrap: wrap;
}
.nav {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Orbitron';
    color: white;
    width: 145px;
    height: 55px;
    margin: 20px;
    background: rgb(123,163,118);
    background: radial-gradient(circle, rgba(123,163,118,1) 18%, rgba(68,87,93,1) 65%, rgba(2,6,2,1) 100%);
    border-radius: 50px;
    border: none;
    align-self: flex-end;
}
.nav:hover {
    background-color: white;
    color: black;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    width: 80vw;
    height: 60vh;
    margin: 2rem;
}
h2 {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: start;
    letter-spacing: 0.02em;
    color: white;
    margin: 20px;
    border-bottom: 1px solid white;
}
p {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: calc(6px + 1vw);
    line-height: calc(1.1em + .5vw);
    text-align: start;
    letter-spacing: 0.02em;
    color: white;
    margin: 2rem;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 45vh;
    width: 50vw;
    border-bottom: 1px solid white;
}
.garden {
    width: 60vw;
    height: 40vh;
    margin: 1rem;
    border-radius: 20px;
    border: 2px solid white;
}

main{
    margin: 0;
}
.img-box{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
}

img{
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    border:2px solid white;
    margin-top: 50px;
}
.example {
    position: relative;
    width: 400px;
    text-align: center;
}
.example .content {
    position: absolute;
    top: 120px;
    left: 0;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 40px;
    text-shadow: black 5px 5px 5px ;
    color:white;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    
}

.example:hover .content {
    opacity: 90%;
    background-color: rgb(123,163,118);
}
.example .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.example .text {
    font-size: 2.5em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.example:hover .text,
.example:focus .text {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

footer {
    height: 100px;
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.bottom-logo {
    align-self: flex-start;
    margin: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Orbitron';
    color: rgb(123,163,118);
    background: none;   
    border: none; 
}
.bottom-logo:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.site-map {
    display: flex;
}
.site-map-btn {
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: 'Orbitron';
    color: white;
    border: none;
    margin: 20px;
}
.site-map-btn:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

@media screen and (max-width:650px ) {
    footer {
        justify-content: center;
    }

    .info {
        width: 60vw;
    }

}

@media screen and (max-width:550px ) {

    .info {
        width: 80vw;
    }

    p {
        font-size: calc(8px + 1vw);
        line-height: calc(1.1em + .5vw);
    }

}

@media screen and (max-width:550px ) {

    .info {
        width: 90vw;
    }

    p {
        font-size: calc(9px + 1vw);
        line-height: calc(1.1em + .5vw);
        margin: .5rem;
    }

}

@media screen and (max-width:450px ) {

    .info {
        width: 100vw;
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
        margin: .5rem;
    }

    p {
        font-size: calc(8px + 1vw);
        line-height: calc(1.1em + .5vw);
        margin: .5rem;
    }

}

@media screen and (max-width:350px ) {

    .info {
        width: 100vw;
        height: 50vh;
    }

    .main {
        width: 150vw;
        height: 55vh;
        margin: 2rem;
    }

    h2 {
        font-size: 15px;
        line-height: 25px;
        margin: .5rem;
    }

    p {
        font-size: calc(8px + 1vw);
        line-height: calc(1.1em + .5vw);
        margin: .5rem;
    }

}